footer {
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width: 200px;
    height: 100px;
    background-image: url("../images/vogue-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icons {
    width: 400px;
    height: 190px;
    margin-top: 10px;
    background-image: url("../images/icon-set.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
